{% extends "base.html" %}

{% block style %}
/* Advanced Show More Button Styling */
#show-more-btn {
  display: inline-block;
  color: white;
  background: linear-gradient(135deg, #4a90e2, #8ab6d6); /* Slightly blueish gradient */
  padding: 0.5rem 1.2rem; /* Smaller padding */
  border-radius: 5px; /* Rectangular corners */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: 0 6px 12px rgba(74, 144, 226, 0.3); /* Softer shadow */
}

#show-more-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #8ab6d6, #4a90e2); /* Inverted blueish gradient */
  z-index: -1;
  transition: transform 0.4s ease;
  transform: scaleX(0);
  transform-origin: left;
}

#show-more-btn:hover::before {
  transform: scaleX(1);
}

#show-more-btn:hover {
  color: #fff;
  box-shadow: 0 12px 20px rgba(74, 144, 226, 0.4);
  transform: translateY(-3px);
}

#show-more-btn:active {
  transform: translateY(0);
  box-shadow: 0 6px 12px rgba(74, 144, 226, 0.3);
}

.edition-card {
  margin-top: 20px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* XSmall screens */
@media (max-width: 576px) {
   .card-body-1 {
     overflow: auto;
   }
}

/* Small screens and up */
@media (min-width: 576px) {
}

/* Medium screens and up */
@media (min-width: 768px) {
  /* Fixed Positioning for Book Image and Edition */
  .fixed-section {
    position: sticky;
    top: 20px;
    align-self: flex-start;
    height: 100%;
  }
  .genre-scroll .badge {
    white-space: normal; /* Allow text to wrap */
    text-align: left;
  }
}

/* Large screens and up */
@media (min-width: 992px) {
}

/* XLarge screens and up */
@media (min-width: 1200px) {
}

.genre-scroll {
    overflow: auto; /* Still allows scrolling */
    padding: 5px 10px;
    margin-bottom: 20px;
}

.genre-scroll .badge {
    margin: 5px 0;
    display: inline-block;
    padding: 0.5em 1em;
    font-size: 0.75rem;
    color: #fff;
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: background-color 0.4s ease, transform 0.3s ease;
}

.genre-scroll .badge:hover {
    background-color: rgba(47, 93, 150, 0.9);
    transform: translateY(-1.2px) scale(1.02);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

/* Hide scrollbar for Google Chrome and Safari */
.genre-scroll::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
.genre-scroll {
    scrollbar-width: none;
}

.genre-scroll p{
    background-color: rgb(99 159 221);
}

.hover-shadow {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hover-shadow:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

#modalButton {
  width : 100% !important;
}

.club-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

#book-description {
  white-space: pre-wrap; /* Preserves newlines and wraps text */
  word-break: break-word; /* Break long words */
  overflow-wrap: break-word; /* Ensures the long text breaks nicely */
}

.event-list {
    border-radius: 8px;
    padding: 15px;
}

.event-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    transition: box-shadow 0.3s;
}

.event-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.event-title {
    margin: 0; /* Remove default margin */
}

.event-description {
    max-height: 50px;
    overflow: hidden;
    white-space: pre-line;
    transition: max-height 0.3s ease;
}

.show-more-btn {
    display: inline-block;
    font-size: 0.9rem;
    color: #007bff;
    cursor: pointer;
    border: none;
    background-color: transparent;
    text-decoration: none;
}

.show-more-btn:hover {
    text-decoration: underline;
}

.event-description-expanded {
    max-height: none; /* Removes height restriction */
}

/* Responsive Pagination */
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
  margin-top: 40px;
  gap: 0.5rem;
}

/* Responsive Pagination */
.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Ensure wrapping on smaller screens */
  margin-top: 20px; /* Reduced margin */
  gap: 0.3rem; /* Reduced gap */
}

.pagination .page-item .page-link {
  color: #5a5a5a;
  font-size: 0.9rem; /* Smaller font size */
  padding: 5px 10px; /* Reduced padding */
  border-radius: 5px; /* Smaller border radius */
  border: 1px solid #ddd;
  transition: all 0.3s ease;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); /* Lighter shadow */
  background-color: #ffffff;
}

.pagination .page-item .page-link:hover {
  background-color: #e1e1e1;
  border-color: #b0b0b0;
}

.pagination .page-item.active .page-link {
  background-color: #007bff;
  color: white;
  border: 1px solid transparent;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Lighter shadow */
}

a {
  text-decoration: none;
}

.discussion-card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.comment {
  border-left: 3px solid #007bff;
  padding-left: 10px;
}

.btn-outline-primary {
  border-color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
  transition: background-color 0.2s ease;
}


{% endblock %}

{% block content %}

<div class="container my-5">
  <div class="row gx-md-3 gx-lg-4">
    <!-- Book Image Section -->
    <div class="test col-12 col-md-4 mb-4 d-flex justify-content-center d-md-block fixed-section">
      <!-- Book image -->
      <div class="d-block">
        <div class="card shadow-lg mb-4">
          <img class="club-image" src="{{ club.club_img }}" alt="{{ club.name }}" class="card-img-top book-image">
        </div>

      <!-- Modal Button -->
      <div class="mb-3">
        <div class="d-flex justify-content-center">
	  {% if not membership %}
            <form action="{{ url_for('main.join_club', club_id=club.id) }}" method="POST">
              <button id="modalButton" type="submit" class="btn btn-outline-success btn-lg shadow-lg px-5"><i class="bi bi-person-plus"></i> Join Club</button>
            </form>
          {% else %}
            <form action="{{ url_for('main.leave_club', club_id=club.id) }}" method="POST">
              <button id="modalButton" type="submit" class="btn btn-lg btn-outline-danger shadow-lg px-5"><i class="bi bi-trash"></i> Leave Club</button>
            </form>
          {% endif %}
        </div>
      </div>
    </div>

      <!-- Edition -->
      <div class="card d-none d-md-block border border-0">
        <div class="card-body shadow-lg p-4">
          <h2 class="text-muted fs-3 mb-3">Club Info:</h2>
	  <hr>
          <p class="text-muted fs-6"><strong>Category: </strong>
            {{ club.category }}
          </p>
          <p class="text-muted fs-6"><strong>Creation Date: </strong>
            {{ club.created_at.strftime('%b %d, %Y') }}
          </p>
          <p class="text-muted fs-6"><strong>Created by: </strong>
            {{ club.creator.username }}
          </p>
        </div>
      </div>
    </div>

    <!-- Book Details Section -->
    <div class="col-md-8 mb-3">
      <div class="row">
        <div class="col-12 mb-5">
          <div class="card-1 shadow-lg border-0 d-flex align-items-center">
            <div class="card-body-1 p-4 p-lg-5">
              <h1 class="display-4 fw-bold text-primary mb-4">{{ club.name }}</h1>
	      <hr>
	      <p class="text-muted fs-3">
	        <i class="bi bi-person"></i> By <a href="{{ url_for('main.view_profile', username=club.creator.username) }}">{{ club.creator.username }}</a>
              </p>
    	      <div class="d-block d-md-none">
                <p class="text-muted fs-6"><strong>Category: </strong>
  	          {{ club.category }}
          	</p>
          	<p class="text-muted fs-6"><strong>Creation Date: </strong>
            	  {{ club.created_at.strftime('%b %d, %Y') }}
          	</p>
          	<p class="text-muted fs-6"><strong>Created by: </strong>
            	  {{ club.creator.username }}
          	</p>
	      </div>
              <p class="text-muted fs-6"><strong>Genre: </strong>
     	      <div class="genre-scroll">
	        <p class="badge">{{ club.category }}</p>
	      </div>
              <!-- Description with Show More -->
	      <p class="lead" id="book-description"></p>
	      {% if club.description|length > 300 %}
	        <button class="btn" id="show-more-btn" onclick="toggleDescription()">Show More</button>
	      {% endif %}
            </div>
          </div>
        </div>

        <!-- Members Section -->
        <div class="col-12 mb-3">
	  <h2 class="text-muted fs-3 px-4">Members ({{ members|length }})</h2><hr>
          <div class="row px-4">
            {% for member in members[:6] %}
              <div class="col-4 col-lg-2 mb-3">
                <div class="card border-0 bg-light">
	          <a href="{{ url_for('main.view_profile', username=member.user.username) }}" class="position-relative">
                    <img src="{{ member.user.profile_picture }}" class="card-img-top" alt="{{ member.username }}" style="height: 110px; min-height: 110px;width: 86px; object-fit: cover; position: relative;">
                    {% if member.role == 'admin' %}
                      <span class="badge bg-info text-light position-absolute bottom-0 start-0" style="border-radius: 0px 10px 10px 0px;">Admin</span>
                    {% elif member.role == 'moderator' %}
                      <span class="badge bg-warning text-dark position-absolute bottom-0 start-0" style="border-radius: 0px 10px 10px 0px;">Moderator</span>
	            {% endif %}
	          </a>
                  <div class="card-body text-left px-0 py-2">
	            <h5 class="card-title" style="font-size: 1rem;text-transform: capitalize;">
	              <a href="{{ url_for('main.view_profile', username=member.user.username) }}">{{ member.user.username }}</a>
		    </h5>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <!-- "More members..." link -->
          <div class="text-end mb-4">
            <a href="{{ url_for('main.view_members', club_id=club.id) }}" style="text-decoration:none; color:white;">More Members...
              <button class="btn btn-sm" id="show-more-btn">
                More Members...
              </button>
	    </a>
          </div>
        </div>

        <!-- Upcoming Events Section -->
  	<div id="events" class="col-12">
	  <h2 class="text-muted fs-3 px-4">Upcoming Events ({{ total_events }})</h2><hr>
  	  <div class="event-list px-4">
    	    {% for event in events %}
      	      <div class="event-card mb-3">
        	<div class="d-lg-flex justify-content-between align-items-center">
          	  <h3 class="event-title fs-3 text-primary mb-2 mb-lg-3">{{ event.name }}</h3>
                  <div class="genre-scroll px-0">
                    <p class="badge">{{ event.start_time.strftime('%b %d, %Y') }} - {{ event.end_time.strftime('%b %d, %Y') }}</p>
                  </div>
                </div>

                <!-- Event Status -->
                <div class="event-status mb-2">
                  {% if event.start_time > now %}
            	    <span class="badge bg-primary">Upcoming</span>
          	  {% elif event.start_time <= now <= event.end_time %}
            	    <span class="badge bg-success">Ongoing</span>
          	  {% else %}
            	    <span class="badge bg-danger">Expired</span>
          	  {% endif %}
                </div>

                <!-- Event Description with Show More functionality -->
                <div class="event-description-container px-1 mb-4 mb-lg-1">
           	  <p class="event-description text-truncate">{{ event.description }}</p>
          	  {% if event.description|length > 100 %}
            	    <button class="btn btn-link show-more-btn text-primary p-0" onclick="toggleDescription(this)">Show More</button>
          	  {% endif %}
        	</div>

        	<div class="text-end">
          	  <!-- View Event Button -->
		  <a href="{{ url_for('main.view_event', event_id=event.id) }}" class="btn btn-outline-secondary btn-sm"><i class="bi bi-eye"></i> View Event</a>

          	  <!-- Join/Leave Event Buttons -->
		  {% if membership %}
         	    {% if current_user in event.participants %}
            	      <form action="{{ url_for('main.leave_event', event_id=event.id) }}" method="POST" class="d-inline">
             	        <button type="submit" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash"></i> Leave Event</button>
            	      </form>
          	    {% else %}
           	      <form action="{{ url_for('main.join_event', event_id=event.id) }}" method="POST" class="d-inline">
              	        <button type="submit" class="btn btn-outline-primary btn-sm"><i class="bi bi-plus-circle"></i> Join Event</button>
            	      </form>
          	    {% endif %}
          	  {% endif %}
        	</div>
      	      </div>
    	    {% endfor %}
  	  </div>
  	  {% if events|length == 0 %}
    	    <p class="text-muted px-5">No upcoming events at the moment.</p>
  	  {% endif %}
	</div>

	<!-- Pagination Controls For Events Section -->
        <nav aria-label="Page navigation" style="margin-bottom:25px;">
  	  <ul class="pagination justify-content-center">
    	    {% if events_pagination.has_prev %}
      	      <li class="page-item">
		<a class="page-link" href="{{ url_for('main.view_club', club_id=club.id, events_page=events_pagination.prev_num) }}#events" aria-label="Previous">
          	  <span aria-hidden="true">&laquo;</span>
        	</a>
      	      </li>
    	    {% endif %}
            {% for page_num in range(1, events_pagination.pages + 1) %}
      	      <li class="page-item {% if page_num == events_pagination.page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('main.view_club', club_id=club.id, events_page=page_num) }}#events">{{ page_num }}</a>
              </li>
    	    {% endfor %}
            {% if events_pagination.has_next %}
      	      <li class="page-item">
                <a class="page-link" href="{{ url_for('main.view_club', club_id=club.id, events_page=events_pagination.next_num) }}#events" aria-label="Next">
          	  <span aria-hidden="true">&raquo;</span>
        	</a>
      	      </li>
    	    {% endif %}
  	  </ul>
        </nav>

        <!-- Create Event Link -->
	{% if membership %}
          <div class="text-end mb-4">
            <a href="{{ url_for('main.create_event', club_id=club.id) }}" style="text-decoration:none; color:white;">
              <button class="btn btn-sm" id="show-more-btn">
	        <i class="bi bi-plus-circle"></i> Create Event
              </button>
            </a>
          </div>
	{% endif %}

      <!-- Discussion Section -->
        <div class="col-12 mb-5">
	  <h2 class="text-muted fs-3 px-4">Discussions ({{ discussions|length }})</h2><hr>

 	   <!-- Add Discussion Form -->
	   {% if membership %}
  	     <div class="mb-4 px-4">
    	       <form action="{{ url_for('main.create_discussion', club_id=club.id) }}" method="POST">
      	         <div class="form-group">
        	   <textarea class="form-control rounded-3 shadow-sm mb-3" name="discussion_content" rows="3" placeholder="Share your thoughts or suggestions..." required></textarea>
      	         </div>
		 <div class="text-end mb-5">
            	   <button type="submit" class="btn btn-sm" id="show-more-btn">
              	     <a style="text-decoration:none; color:white;"><i class="bi bi-plus-circle"></i> Create Discussion</a>
            	   </button>
      	         </div>
    	       </form>
  	     </div>
	   {% endif  %}

  	   <!-- List Existing Discussions -->
  	   <div class="discussion-list px-4">
   	     {% for discussion in discussions %}
      	       <div class="discussion-card mb-4 p-3 rounded-3 shadow-sm bg-white border-light">
        	 <div class="d-flex justify-content-between align-items-center mb-2">
		   <a href="{{ url_for('main.view_profile', username=discussion.creator.username) }}">
          	     <h5 class="text-primary fw-bold">{{ discussion.creator.username }}</h5>
		   </a>
          	   <small class="text-muted">{{ discussion.created_at.strftime('%b %d, %Y') }}</small>
        	 </div>
        	 <p class="mb-3">{{ discussion.content }}</p>

        	 <!-- View Comments Button -->
        	 <div class="text-end">
		   <button class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" data-bs-target="#comments-{{ discussion.id }}"><i class="bi bi-eye"></i> View Comments</button>

		   <!-- Delete Button (only for admin) -->
		   {% if membership.role == "admin" or current_user.id == discussion.creator_id %}
                     <form action="{{ url_for('main.delete_discussion', discussion_id=discussion.id) }}" method="POST" class="d-inline">
		       <button class="btn btn-outline-danger btn-sm" type="submit" onclick="return confirm('Are you sure you want to delete this discussion?');"><i class="bi bi-trash"></i> Delete</button>
          	     </form>
		   {% endif %}
        	 </div>

        	 <!-- Comments Section -->
        	 <div class="collapse mt-3" id="comments-{{ discussion.id }}">
          	   <div class="comment-list">
            	     {% for comment in discussion.comments %}
              	       <div class="comment mb-2 p-2 rounded bg-light">
                         <strong class="text-dark">{{ comment.creator.username }}:</strong> {{ comment.content }}
              	       </div>
            	     {% endfor %}
          	   </div>

        	   <!-- Add Comment Form -->
	           {% if membership %}
          	     <form action="{{ url_for('main.add_comment', discussion_id=discussion.id) }}" method="POST" class="mt-3">
            	       <div class="input-group">
              	         <input type="text" class="form-control rounded-3 shadow-sm" name="comment_content" placeholder="Add a comment..." required>
              	           <button class="btn btn-outline-secondary shadow-sm" type="submit">Comment</button>
              	       </div>
            	     </form>
		   {% endif %}
		 </div>
      	       </div>
    	     {% else %}
      	       <p class="text-muted">No discussions yet.</p>
    	     {% endfor %}
  	   </div>
	 </div>


      </div>
    </div>
  </div>
</div>

<script>

  const fullDescription = {{ club.description|tojson }};
  const shortDescription = fullDescription.slice(0, 300) + (fullDescription.length > 300 ? "..." : "");

  function toggleDescription() {
    const desc = document.getElementById('book-description');
    const btn = document.getElementById('show-more-btn');
    if (btn.textContent === 'Show More') {
      desc.textContent = fullDescription;
      btn.textContent = 'Show Less';
    } else {
      desc.textContent = shortDescription;
      btn.textContent = 'Show More';
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const desc = document.getElementById('book-description');
    desc.textContent = shortDescription; // Ensure the short description is set initially
  });
      document.addEventListener('DOMContentLoaded', function () {
        const stars = document.querySelectorAll('.star-rating label');

        stars.forEach(star => {
            star.addEventListener('mouseover', function () {
                const ratingValue = this.htmlFor.replace('rating', '');
                highlightStars(ratingValue);
            });

            star.addEventListener('click', function () {
                const ratingInput = document.getElementById(this.htmlFor);
                ratingInput.checked = true;
            });
        });

        function highlightStars(ratingValue) {
            stars.forEach(star => {
                if (star.htmlFor.replace('rating', '') <= ratingValue) {
                    star.classList.replace('bi-star', 'bi-star-fill');
                } else {
                    star.classList.replace('bi-star-fill', 'bi-star');
                }
            });
        }
    });

  function toggleDescription(button) {
    var description = button.previousElementSibling; // Get the previous sibling (the description)

    // Toggle between expanded and truncated
    if (description.classList.contains('event-description-expanded')) {
        description.classList.remove('event-description-expanded');
        button.textContent = "Show More";
    } else {
        description.classList.add('event-description-expanded');
        button.textContent = "Show Less";
    }
}


</script>
{% endblock %}
